In [16]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [17]:
df = pd.read_csv('full_dataset_v3.csv',sep=';')
df.head()

,title,id_stack,tags,views,score,done,label
0,Using entries from other kivy classes,61881920,"['python', 'python-3.x', 'kivy']",12,0,False,python
1,Package python software with pylucene dependency,61896481,"['python', 'docker', 'pip', 'dependencies', 'p...",7,1,False,python
2,Extracting time with regex from a string,61894597,"['python', 'regex']",29,3,False,python
3,How do I add specific headers before each form...,61896721,"['python', 'django']",4,0,False,python
4,Barplot from a dataframe using a column to set...,61896506,"['python', 'pandas', 'bar-chart', 'seaborn', '...",12,0,True,python

In [18]:
df.groupby('label').describe()

           id_stack                                                      \
              count          mean           std        min          25%
label
R            9185.0  5.925903e+07  9.542595e+06  1330989.0  61901270.00
java        16418.0  5.576655e+07  1.487040e+07      123.0  61827414.50
javascript  17897.0  5.748022e+07  1.279066e+07    18985.0  61900750.00
php         12304.0  5.549392e+07  1.496494e+07      146.0  61816750.25
python      19530.0  5.845264e+07  1.125286e+07     2933.0  61909033.50

                                                   views                ...  \
                   50%          75%         max    count          mean  ...
label                                                                   ...
R           62079996.0  62270061.00  62470616.0   9185.0   2225.793685  ...
java        62045749.0  62249187.75  62470650.0  16418.0   9449.874954  ...
javascript  62064869.0  62257117.00  62470679.0  17897.0  12075.814215  ...
php         62055407.0  62262184.50  62470545.0  12304.0   6723.318839  ...
python      62068518.0  62256855.75  62470666.0  19530.0   8051.820533  ...

                               score                                         \
             75%        max    count       mean         std   min  25%  50%
label
R           35.0   904473.0   9185.0   1.993794   17.298833  -8.0  0.0  0.0
java        52.0  5941339.0  16418.0   7.406383   90.901604 -82.0  0.0  0.0
javascript  40.0  4280894.0  17897.0  11.577639  131.002891  -9.0  0.0  0.0
php         43.0  2908723.0  12304.0   4.453349   63.309093  -8.0  0.0  0.0
python      35.0  3900089.0  19530.0   8.315822  127.868921 -21.0  0.0  0.0


            75%      max
label
R           1.0    761.0
java        1.0   6545.0
javascript  1.0   6877.0
php         1.0   4477.0
python      1.0  10216.0

[5 rows x 24 columns]

In [19]:
df_new = df[['title', 'label']]

In [20]:
df_r = df_new[df_new['label']=='R']
df_r.shape

(9185, 2)

In [21]:
df_java = df_new[df_new['label']=='java']
df_java = df_java.sample(df_r.shape[0])
df_java.shape

(9185, 2)

In [22]:
df_js = df_new[df_new['label']=='javascript']
df_js = df_js.sample(df_r.shape[0])
df_js.shape

(9185, 2)

In [23]:
df_php = df_new[df_new['label']=='php']
df_php = df_php.sample(df_r.shape[0])
df_php.shape

(9185, 2)

In [24]:
df_python = df_new[df_new['label']=='python']
df_python = df_python.sample(df_r.shape[0])
df_python.shape

(9185, 2)

In [25]:
df_balanced = pd.concat([df_r, df_java, df_js, df_php, df_python])
df_balanced.shape

(45925, 2)

In [26]:
df_balanced['label'].value_counts()
df_balanced.sample(10)

                                                   title       label
29389                 Python Conversion from WAV to FLAC      python
8086   setTimeout updating innerHTML but then previou...  javascript
8966                       PHP UPDATE prepared statement         php
27285  NestJS strategy for excluding fields for diffe...  javascript
16124                   How properly cast in TypeScript?  javascript
15516         Plotting factor variable in Geospatial - R           R
29026  CondingBat Python puzzle results in &quot;Time...      python
39703  simplexml_load_file — Fail to get the value of...         php
45646  Java/Kotlin- Akka Stream Source.reduce does no...        java
46376  Can I write a single stored procedure for mult...  javascript

In [27]:
df_balanced['category'] = df_balanced['label'].apply(lambda x: 0 if x == 'R' else 1 if x == 'java' else 2 if x == 'javascript' else 3 if x == 'php' else 4)
df_balanced.sample(10)

                                                   title       label  category
23250  Produce two shiny widgets from the same uiOutp...           R         0
41540                          Grid bag layout struggles        java         1
36685                        keep const value in Symfony         php         3
4705         Error al ejecutar comando PHP ARTISAN SERVE         php         3
33375  Accepted design pattern for mapping a large co...      python         4
69566  Angular ag-Grid: how to refresh param value in...  javascript         2
71638               Android How to use use. Recycle View        java         1
31791  onStop for Fragment in TabLayout to save some ...        java         1
17742                      Raw Image Python 4 Dimensions      python         4
59955  How to reduce conditionality of a categorical ...      python         4

In [28]:
!pip install tensorflow_text
import tensorflow_text as text
import tensorflow as tf
import tensorflow_hub as hub

ERROR: Could not find a version that satisfies the requirement tensorflow_text (from versions: none)
ERROR: No matching distribution found for tensorflow_text

ModuleNotFoundError: No module named 'tensorflow_text'

In [ ]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [29]:
titles = df_balanced['title'].values
categories = df_balanced['category'].values  # Make sure this is an array of integers

# Split into training and testing sets (adjust the test_size as needed)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(titles, categories, test_size=0.3, random_state=42)

In [30]:
# Build the model
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = bert_preprocess(text_input)
outputs = bert_encoder(preprocessed_text)

# Neural network layers
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
# Since you have five classes, use a dense layer with 5 units and a softmax activation.
l = tf.keras.layers.Dense(5, activation='softmax', name="output")(l)

# Construct the final model
model = tf.keras.Model(inputs=[text_input], outputs=[l])

# Compile the model
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',  # Use this if your labels are integers
              # If your labels are one-hot encoded, use 'categorical_crossentropy' instead
              metrics=['accuracy'])

# Display the model's architecture
model.summary()

NameError: name 'bert_preprocess' is not defined